@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Jost", serif;
    
}

.active hr{
    @apply block
}

html, body {
    overflow-x: hidden;
  }
  
::-webkit-scrollbar{
    @apply hidden
}

@keyframes spin-slow {
    0% {
      transform: translate(-50%, -50%) rotate(0deg) translate(200px) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg) translate(200px) rotate(-360deg);
    }
  }
  
  .animate-spin-slow {
    animation: spin-slow 20s linear infinite;
  }